doctype html
html(lang='en')
    head
        title Neural Network
        script(src="https://cdn.rawgit.com/BrainJS/brain.js/45ce6ffc/browser.js")
        script(src='/js/index.js')
    body
        h1 Check Console